div {
    position: fixed;
    padding-left: 60px;
    padding-right: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightgrey;
}
table {
    padding: 30px;
    border-spacing: 5px;
}
label, input, button, h2 {
    font-family: 'JetBrains Mono', sans-serif;
}
label, input {
    font-size: 16px;
}
button {
    font-size: 18px;
}